<ion-view view-title="Account">
  <ion-content>
  	<img ng-src={{data.imageSource}}>
    <button class="button button-balanced" ng-click="takePicture()">Take Your Profile Picture</button>

    <p>Offered Rides</p>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ride in offeredRides" type="item-text-wrap" >
        <p>
          From {{ride.departure}} To {{ride.destination}}
        </p>
        <p>
          Time Taken : {{ride.time}}
        </p>
        <p>
          Passengers: {{ride.passengers}}
        </p>
        <ion-option-button class="button-assertive" ng-click="delete(ride.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <p>Booked Rides</p>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ride in bookedRides" type="item-text-wrap" >
        <p>
          Ride From {{ride.departure}} To {{ride.destination}}
        </p>
        <p>
          Time Taken : {{ride.time}}
        </p>
        <p>
          Passengers: {{ride.passengers}}
        </p>
        <ion-option-button class="button-assertive" ng-click="delete(ride.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>