<ion-view view-title="Available Rides">
  <ion-content>
    <img ng-src="{{ride.userId}}">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ride in rides" type="item-text-wrap" href="#/tab/rides/{{ride.id}}">
        <img>
        <p>
          Ride From {{ride.departure}} To {{ride.destination}}
        </p>
        <p>
          Time Taken : {{ride.time}} &nbsp Passengers: {{ride.passengers}}
        </p>
        <span style="float:right;color:darkgrey;">
          <-- Swipe this way
        </p>
        <ion-option-button class="button-assertive" ng-click="delete(ride.id)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-click="book(ride.id)">
          Book
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>