<ion-view view-title="Create Your Own Ride">
  <ion-content>
    <form ng-submit = "CreateRide()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="From" ng-model="ride.departure">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="To" ng-model="ride.destination">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Time" ng-model="ride.time">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Number of Passengers" ng-model="ride.passenger">
        </label>
      </div>
      <button class=" button button-full button-calm" type = "submit">Create</button>
    </form>
  </ion-content>
</ion-view>
  