<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="center">
        <img src="../img/rideshare.JPG">
    </div>
    <form ng-submit="login()">
    <div class="center">
      <div class="card" style="width:35%">
          <div class="container">
            <h4 style="text-align:center;"><b>Login</b></h4> 
          </div>
          <div class="container">
              <label class="item item-input" style="border: 1px inset">
                <input type="email" placeholder="xyz@etcetra.com" ng-model="account.emailID">
              </label> 
          </div>
          <div class="container">
              <label class="item item-input" style="border: 1px inset">
                <input type="password" placeholder="Password" ng-model="account.password">
              </label> 
          </div>
          <div class="container">
              <button type="submit" class="button button-full button-positive">Confirm</button>
          </div>
      </div>
    </form>    
    </div>
  </ion-content>
</ion-view>
