<ion-view view-title="Available Rides">
  <ion-content>
    <img ng-src="{{ride.userId}}">
    <table>
      <tr>
        <th>
          Departure
        </th>
        <th>
          Destination
        </th>
        <th>
          Date
        </th>
        <th>
          Passengers
        </th>
        <th>
        </th>
      </tr>
      <tr class="item-remove-animate item-avatar item-icon-right text-center" ng-repeat="ride in rides" type="item-text-wrap">
        <td>
          {{ride.departure}}
        </td>
        <td>
          {{ride.destination}}
        </td>
        <td>
          {{ride.time}}
        </td>
        <td>
          {{ride.passengers}}
        </td>
        <td>
        <button class="button button-balanced" ng-click="book(ride.id, ride.userId)">
          Book
        </button>
        </td>
      </tr>
    </table>    
  </ion-content>
</ion-view>