<ion-view view-title="Rides">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ride in rides" type="item-text-wrap" href="#/tab/rides/{{ride.id}}">
        <img ng-src="{{ride.face}}">
        <h2>{{ride.name}}</h2>
        <p>{{ride.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(ride)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="(ride)">
          Book Ride
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
